cello_23_channels.wav
cello_partials/harmonic_01_139Hz.wav
cello_partials/harmonic_02_279Hz.wav
cello_partials/harmonic_03_419Hz.wav
cello_partials/harmonic_04_559Hz.wav
cello_partials/harmonic_05_689Hz.wav
cello_partials/harmonic_06_829Hz.wav
cello_partials/harmonic_07_968Hz.wav
cello_partials/harmonic_08_1108Hz.wav
cello_partials/harmonic_09_1248Hz.wav
cello_partials/harmonic_10_1388Hz.wav
cello_partials/harmonic_11_1528Hz.wav
cello_partials/harmonic_12_1668Hz.wav
cello_partials/harmonic_13_1808Hz.wav
cello_partials/harmonic_14_1937Hz.wav
cello_partials/harmonic_15_2077Hz.wav
cello_partials/harmonic_16_2217Hz.wav
cello_partials/harmonic_17_2357Hz.wav
cello_partials/harmonic_18_2497Hz.wav
cello_partials/harmonic_19_2637Hz.wav
cello_partials/harmonic_20_2767Hz.wav
cello_partials/harmonic_21_2906Hz.wav
cello_partials/harmonic_22_3057Hz.wav
cello_partials/harmonic_23_3186Hz.wav
cello_partials/harmonic_23_3746Hz.wav
cello_partials/harmonic_24_3477Hz.wav
clarinet_partials/harmonic_24_3305Hz.wav
clarinet_partials/harmonic_23_3165Hz.wav
clarinet_partials/harmonic_22_3025Hz.wav
clarinet_partials/harmonic_21_2896Hz.wav
clarinet_partials/harmonic_20_2756Hz.wav
clarinet_partials/harmonic_19_2616Hz.wav
clarinet_partials/harmonic_18_2476Hz.wav
clarinet_partials/harmonic_17_2336Hz.wav
clarinet_partials/harmonic_16_2207Hz.wav
clarinet_partials/harmonic_15_2067Hz.wav
clarinet_partials/harmonic_14_1927Hz.wav
clarinet_partials/harmonic_13_1787Hz.wav
clarinet_partials/harmonic_12_1647Hz.wav
clarinet_partials/harmonic_11_1518Hz.wav
clarinet_partials/harmonic_10_1378Hz.wav
clarinet_partials/harmonic_09_1238Hz.wav
clarinet_partials/harmonic_08_1098Hz.wav
clarinet_partials/harmonic_07_968Hz.wav
clarinet_partials/harmonic_06_829Hz.wav
clarinet_partials/harmonic_05_689Hz.wav
clarinet_partials/harmonic_04_549Hz.wav
clarinet_partials/harmonic_03_409Hz.wav
clarinet_partials/harmonic_02_279Hz.wav
clarinet_partials/harmonic_01_139Hz.wav
clarinet_23_channels.wav
papers/SpeakerBook.pdf
papers/SPATIO_OPERATIONAL_SPECTRAL_S_O_S_SYNTHE.pdf
papers/Jack based spectro spatial additive synthesis.pdf
papers/ArcondoulisLiu_iAARM_RG_Archive.pdf
tkinter_intro_for_frontend.ipynb
00_TimbreFrame_DeepLocalNotes.pdf
trumpet_partials/harmonic_01_279Hz.wav
trumpet_partials/harmonic_02_559Hz.wav
trumpet_partials/harmonic_03_839Hz.wav
trumpet_partials/harmonic_04_1119Hz.wav
trumpet_partials/harmonic_05_1291Hz.wav
trumpet_partials/harmonic_06_1399Hz.wav
trumpet_partials/harmonic_07_1679Hz.wav
trumpet_partials/harmonic_08_1959Hz.wav
trumpet_partials/harmonic_09_2250Hz.wav
trumpet_partials/harmonic_10_2519Hz.wav
trumpet_partials/harmonic_11_2799Hz.wav
trumpet_partials/harmonic_12_3090Hz.wav
trumpet_partials/harmonic_13_3369Hz.wav
